In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Menu.csv")
df.head()

,id,name,sponsor,event,venue,place,physical_description,occasion,notes,call_number,keywords,language,date,location,location_type,currency,currency_symbol,status,page_count,dish_count
0,12463,NaN,HOTEL EASTMAN,BREAKFAST,COMMERCIAL,"HOT SPRINGS, AR",CARD; 4.75X7.5;,EASTER;,NaN,1900-2822,NaN,NaN,4/15/1900,Hotel Eastman,NaN,NaN,NaN,complete,2,67
1,12464,NaN,REPUBLICAN HOUSE,[DINNER],COMMERCIAL,"MILWAUKEE, [WI];",CARD; ILLUS; COL; 7.0X9.0;,EASTER;,WEDGEWOOD BLUE CARD; WHITE EMBOSSED GREEK KEY ...,1900-2825,NaN,NaN,4/15/1900,Republican House,NaN,NaN,NaN,complete,2,34
2,12465,NaN,NORDDEUTSCHER LLOYD BREMEN,FRUHSTUCK/BREAKFAST;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,CARD; ILLU; COL; 5.5X8.0;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, STEAMSHIP A...",1900-2827,NaN,NaN,4/16/1900,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,84
3,12466,NaN,NORDDEUTSCHER LLOYD BREMEN,LUNCH;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,CARD; ILLU; COL; 5.5X8.0;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...",1900-2828,NaN,NaN,4/16/1900,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,2,63
4,12467,NaN,NORDDEUTSCHER LLOYD BREMEN,DINNER;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,FOLDER; ILLU; COL; 5.5X7.5;,NaN,"MENU IN GERMAN AND ENGLISH; ILLUS, HARBOR SCEN...",1900-2829,NaN,NaN,4/16/1900,Norddeutscher Lloyd Bremen,NaN,NaN,NaN,complete,4,33

In [3]:
df.columns

Index(['id', 'name', 'sponsor', 'event', 'venue', 'place',
       'physical_description', 'occasion', 'notes', 'call_number', 'keywords',
       'language', 'date', 'location', 'location_type', 'currency',
       'currency_symbol', 'status', 'page_count', 'dish_count'],
      dtype='object')

In [4]:
dropped_col = ['notes', 'call_number', 'currency', 'currency_symbol', 'physical_description', 'status']
df.drop(dropped_col, inplace=True, axis=1)

In [5]:
df.shape

(17546, 14)

In [6]:
df[df.duplicated(keep=False)]

,id,name,sponsor,event,venue,place,occasion,keywords,language,date,location,location_type,page_count,dish_count
0,12463,NaN,HOTEL EASTMAN,BREAKFAST,COMMERCIAL,"HOT SPRINGS, AR",EASTER;,NaN,NaN,4/15/1900,Hotel Eastman,NaN,2,67
17545,12463,NaN,HOTEL EASTMAN,BREAKFAST,COMMERCIAL,"HOT SPRINGS, AR",EASTER;,NaN,NaN,4/15/1900,Hotel Eastman,NaN,2,67

In [7]:
# menu[menu.duplicated(subset='id', keep=False)]

In [8]:
df.drop_duplicates(inplace=True)

In [15]:
df.isnull().sum()

id                   0
name             14348
sponsor           1561
event             9391
venue             9426
place             9422
occasion         13754
keywords         17545
language         17545
date               586
location             0
location_type    17545
page_count           0
dish_count           0
dtype: int64

In [18]:
menu = df.dropna(thresh=df.shape[0]*0.25,how='all',axis=1)
menu.shape
menu.columns

Index(['id', 'sponsor', 'event', 'venue', 'place', 'date', 'location',
       'page_count', 'dish_count'],
      dtype='object')

In [11]:
menu.dropna()

,id,sponsor,event,venue,place,date,location,page_count,dish_count
0,12463,HOTEL EASTMAN,BREAKFAST,COMMERCIAL,"HOT SPRINGS, AR",4/15/1900,Hotel Eastman,2,67
1,12464,REPUBLICAN HOUSE,[DINNER],COMMERCIAL,"MILWAUKEE, [WI];",4/15/1900,Republican House,2,34
2,12465,NORDDEUTSCHER LLOYD BREMEN,FRUHSTUCK/BREAKFAST;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,4/16/1900,Norddeutscher Lloyd Bremen,2,84
3,12466,NORDDEUTSCHER LLOYD BREMEN,LUNCH;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,4/16/1900,Norddeutscher Lloyd Bremen,2,63
4,12467,NORDDEUTSCHER LLOYD BREMEN,DINNER;,COMMERCIAL,DAMPFER KAISER WILHELM DER GROSSE;,4/16/1900,Norddeutscher Lloyd Bremen,4,33
...,...,...,...,...,...,...,...,...,...
10212,27695,"CONFRERIE DE LA CHAINE DES ROTISSEURS, NEW ORL...",DINNER,OTHER (PRIVATE CLUB),"PLIMSOLL CLUB, NEW ORLEANS, LA",5/13/1968,"Confrerie De La Chaine Des Rotisseurs, New Orl...",5,37
10213,27696,"CONFRERIE DE LA CHAINE DES ROTISSEURS, GEORGIA...",DINNER,OTHER (PRIVATE CLUB),"PIEDMONT DRIVING CLUB, [ATLANTA?] GEORGIA",5/18/1968,Confrerie De La Chaine Des Rotisseurs,3,22
10214,27697,FRANKFURTER STUBB,DAILY MENU,HOTEL; FOR,"HOTEL FRANKFURTER, FRANFURT AM MAIN, GERMANY",6/3/1968,Confrerie De La Chaine Des Rotisseurs,3,34
10215,27698,HOTEL EUROPAISCHER HOF,DINNER,HOTEL; FOR,"HEIDELBERG, GERMANY",6/26/1968,"Confrerie De La Chaine Des Rotisseurs, New Orl...",1,31
10216,27699,"CONFRERIE DE LA CHAINE DES ROTISSEURS, OKLAHOM...",INAUGURATION OF THE OKLAHOME CHAPTER,OTHER (PRIVATE CLUB),"OKLAHOMA CITY GOLF AND COUNTRY CLUB, OKLAHOMA ...",7/1/1968,Confrerie De La Chaine Des Rotisseurs,4,24

In [12]:
menu.shape

(17545, 9)

In [13]:
menu['date'] = pd.to_datetime(menu['date'], dayfirst = False, yearfirst = False)

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 190-03-06 00:00:00